.wishlist {
  background-color: white;
  min-height: 75vh;
  margin-top: 3px;
  padding-bottom: 4rem;
}

.wishlist h1 {
  text-align: center;
  font-size: 23px;
  font-family: initial;
  font-weight: bold;
  padding: 5px;
  padding-top: 2rem;
  padding-bottom: 1rem;
  box-shadow: 0px 0px 10px 0px #eae6e6;
  margin-bottom: 1rem;
}

.wishlist p {
  text-align: center;
  font-size: 13px;
  text-decoration: none;
  color: black;
}

.wishlist img {
  width: 100%;
  object-fit: contain;
  height: 140px;
}

.ofeer_wish {
  display: flex;
  width: 75%;
  margin: auto;
}

.ofeer_wish h3 {
  color: red;
  font-weight: 100;
}

.ofeer_wish p {
  flex: 1;
}

.ofeer_wish h2 {
  color: green;
}

.wish_div {
  box-shadow: 0px 0px 1px 0px #ccc;
  margin-right: 0px;
  margin-left: 8px;
  margin-top: 8px;
}

.wish_wishlist {
  display: flex;
}

.wish_wishlist img {
  width: 100%;
  object-fit: contain;
  height: 140px;
}

.wish_wishlist h2 {
  color: #ccc;
  cursor: pointer;
}

.no_item {
  min-height: 85vh;
  /* background-color: white; */
  width: 100%;
  margin-top: -2.8rem;
}

.no_item img {
  object-fit: contain;
  display: block;
  margin: auto;
  margin-top: 3rem;
}

.no_item h1 {
  font-size: 18px;
  text-align: center;
}

.no_item p {
  text-align: center;
  font-size: 12px;
}

.no_item Button {
  display: block;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.items {
  margin-top: 0.3rem !important;
  min-height: 70vh;
  background-color: #fff;
}

.loader_para {
  width: 100%;
  text-align: center;
}

.link {
  text-decoration: none;
}

/* for cart */
.cart_block {
  background-color: #fff;
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  height: 195px;
  width: 100% !important;
  margin-left: 0px !important;
}

.cart_block img {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  max-width: 100%;
  max-height: 100px;
  object-fit: contain;
}

.delivery ul {
  margin-bottom: 5px;
}

.delivery li {
  list-style: none;
  margin-bottom: 10px;
}

.delivery span {
  margin-right: 5px;
  color: #388e3c;
}

.delivery div {
  font-size: 14px;
  color: #212121;
  line-height: 1.4;
}

.cart_imgblock {
  /* width: 100%; */
  height: 112px;
  width: 112px;
}

.cart_price {
  display: flex;
  padding: 5px 0px;
}

.cart_p2 {
  font-size: 18px;
  font-weight: 500;
  color: #212121;
  margin-right: 8px;
}

.cart_p1 {
  font-size: 14px;
  margin-right: 10px;
  color: #878787;
  text-decoration: line-through;
}

.cart_p3 {
  font-weight: 500;
  color: #388e3c;
}

.cart_block h4 {
  margin-top: 8px;
  display: block;
  color: #878787;
  font-size: 14px;
  height: 20px;
  margin-bottom: 8px;
  font-weight: 100;
}
.order_block h4 {
  margin-top: 8px;
  display: block;
  color: #878787;
  font-size: 14px;
  height: 20px;
  margin-bottom: 8px;
  font-weight: 100;
}
.my-orders h4{
  padding: 5px;
}
.my-orders{
  background-color: #fff;
}
.order_block {
  background-color: #fff;
  margin-top: 0rem !important;
  margin-bottom: 1rem !important;
  height: 150px;
  width: 100% !important;
  margin-left: 0px !important;
  border-bottom: 1px solid #ccc;
}

.order_block img {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  max-width: 100%;
  max-height: 100px;
  object-fit: contain;
}

.seller_crt {
  display: flex;
}

.img_assured {
  height: 15px;
  vertical-align: middle;
  margin: 7px;
}

.head_prduct {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 20px;
}

.head_prduct h3 {
  font-size: 16px;
  color: #212121;
  line-height: 1;
  display: inline;
}

.justify-content {
  justify-content: center;
}

.adress_bar {
  padding: 12px 16px;
  background: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 12%) 0px 0px 2px;
  border-radius: 4px;
  align-items: center;
  margin-left: 0px !important;
  margin-top: 0px !important;
  width: 100% !important;
}

.single_address {
  display: flex;
}

.single_address p {
  color: rgb(17, 17, 18);
  line-height: 20px;
  margin-right: 5px;
  font-weight: 100;
  font-size: 14px;
}

.single_address span {
  color: rgb(17, 17, 18);
  line-height: 20px;
  font-weight: 500;
  font-size: 14px;
}

.type_address {
  background-color: rgb(240, 242, 245);
  margin: 0px 0px 0px 12px;
  color: rgb(113, 116, 120);
  font-size: 10px;
  text-align: center;
  padding: 4px 8px;
  border-radius: 2px;
}

.adress_adres {
  color: rgb(113, 116, 120);
  line-height: 20px;
  text-overflow: ellipsis;
  margin: 4px 0px;
}

.save_later {
  display: inline-block;
  text-transform: uppercase;
  box-shadow: none;
  outline: 0;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin-right: 25px;
}

.cart_quantitybar {
  display: none;
}

.cart_savelater {
  display: none;
}

.place_order {
  display: none;
}

.pricebar {
  background-color: white;
  padding: 1.5rem;
}

.pricebar_head {
  border-bottom: 1px solid #ccc;
  display: block;
  padding: 13px 24px;
  color: #ccc;
  min-height: 47px;
  border-radius: 2px 2px 0 0;
}

.pricebar_head p {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.pricebar_price h2 {
  font-size: 14px;
  font-weight: 100;
}

.alert_div {
  position: fixed;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  margin-left: -15em;
  border: 1px solid #ccc;
  background-color: #f3f3f3;
  padding: 2rem;
  text-align: center;
}

.pricebar_total {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 1rem;
  display: flex;
}

.pric_saves p {
  color: green;
  text-align: center;
  padding-top: 1rem;
}

.pricebar_total h3 {
  font-size: 18px;
  font-weight: 600;
}

.pricebar_price {
  display: flex;
  padding: 8px;
}

.pricebar_price p {
  flex: 1;
}

.pricebar_price span {
  color: green;
}

.cart_items_main {
  padding: 2rem 5px;
}

.cart_savelater_mobile {
  flex: 1;
  height: 35px;
  margin-right: 1.5rem !important;
  margin-left: 1.5rem !important;
}

.cart_quantitybar span {
  width: 28px;
  height: 28px;
  background: linear-gradient(#fff, #f9f9f9);
  display: inline-block;
  border: 1px solid #c2c2c2;
  cursor: pointer;
  font-size: 16px;
  border-radius: 50%;
  padding-top: 4px;
  text-align: center;
  line-height: 1;
}
.wishlist_main_head {
  background-color: white;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #ccc;
}
.items_wishlist {
  margin-top: 0rem !important;
  min-height: 70vh;
  background-color: #fff;
  width: 100% !important;
  margin-left: 0px !important;
}

.my_wishlist_main {
  min-height: 88vh;
  /* padding: 0px 32px; */
  position: relative;
}

.cart_quantitybar p {
  display: inline-block;
  padding: 3px 6px;
  height: 100%;
  width: 46px;
  height: 28px;
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #c2c2c2;
  margin: 0 5px;
  text-align: center;
}

.rate_span {
  position: relative;
}

.rate_total {
  padding-left: 8px;
  font-weight: 500;
  color: #878787;
}

.rating_list {
  line-height: normal;
  display: flex;
  color: #fff;
  padding: 2px 4px 2px 6px;
  border-radius: 3px;
  font-weight: 500;
  font-size: 12px;
  vertical-align: middle;
  background-color: #388e3c;
}

.product_ratin_wish {
  margin-top: 0;
  display: flex;
  padding-right: 10px;
}

@media (max-width: 768px) {
  .delivery {
    display: flex;
  }

  .css-1wnsr1i {
    border: 0px solid #fff !important;
    outline: none;
    width: 90% !important;
  }
}
.css-1wnsr1i {
  border: 0px solid #fff !important;
  outline: none;
}
.place_order_button button{
    width: 100%;
    height: 50px;
    margin-top: 5px;
}
@media (min-width: 768px) {
  .cart_quantitybar {
    display: flex;
    margin-top: 1rem;
  }

  .cart_savelater_mobile {
    display: none !important;
  }

  .cart_items_main {
    padding: 2rem 3rem;
  }

  .cart_savelater h1 {
    display: inline-block;
    text-transform: uppercase;
    box-shadow: none;
    outline: 0;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    margin-right: 25px;
  }

  .cart_savelater {
    display: flex;
    margin-top: 2.3rem;
  }

  .cart_savelater h1:hover {
    color: blue;
  }

  .place_order {
    position: sticky;
    top: 64px;
    bottom: 0;
    z-index: 2;
    display: block;
  }

  .place_order_button {
    border-top: 1px solid #f0f0f0;
    background: #fff;
    padding: 16px 22px;
    box-shadow: 0 -2px 10px 0 rgb(0 0 0 / 10%);
    text-align: end;
  }

  .place_order button {
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
    border: none;
    color: #fff;
  }
  .place_ordermobile {
    display: none;
  }
}