    .carousel {
        margin: 15px;
        position: static;
    }

    .images {
        width: 100%;
        height: 280px;
    }
    @media only screen and (max-width: 460px) {
        .carousel {
            margin: 0px;
        }
    }